body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: #ababab;
}
.wrapper {
    padding: 5px;
    max-width: 400px;
    width: 95%;
    margin: 21px auto;
}

header {
    padding: 0 15px;
    text-align: center;
    font-size: 20px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}
.column {
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: rgb(145, 138, 138);
    transition: 0.3s;
}
.columns:first-child {
    margin-left: 0;
    background: #ff307f;
}
.column h2 {
    text-align: center;
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
}